<div class="wrapper">
  <mat-toolbar color="accent">

    <div>
      <a routerLink="/">
        <span class="label" style="font-size: 20px">요리 실습 신청 시스템</span>
      </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <li *ngIf="!isSign()">
          <a [routerLink]="'/login'">
            <mat-icon class="icon">login</mat-icon>
            <span class="label">로그인</span>
          </a>
        </li>

        <li *ngIf="isSign()">
          <app-menu></app-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</div>
